*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  text-align: center;
  background-color: rgb(255, 172, 103);
}

button{
  font-size: 30px;
  margin-top: 50px;
  padding: 10px;
  background-color: green;
  border: none;
  border-radius: 5px;
}
